
  <div class="container">
    <h2 style="text-align: center;">Welcome</h2>
    <label for="uname"><b>Username</b></label>
    <input type="text" [(ngModel)]="user.username" placeholder="Userame" name="uname" required>

    <label for="password"><b>Password</b></label>
    <input [(ngModel)]="user.password" placeholder="Password" type="password" required>

    <button (click)="register(user)">Register</button>
    <button (click)="login(user)">Login</button>
    <label>
      <input type="checkbox" checked="checked" name="remember"> Remember me
    </label>
  </div>
